<html>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">
        <form novalidate="novalidate" name="loginForm" style="margin-left:40%">
                <h2 style="margin-left:10%">登录</h2>
                <div class="form-group">
                    <label for="lemail">Account</label>
                    <input type="email"
                           class="form-control my-input"
                           id="lemail"
                           placeholder="Enter your account"
                           name="lemail"
                           required="required"
                           ng-model="login_user.email"
                           style="width:30%"
                           email-check-login>         
                </div>
                <div class="form-group">
                    <label for="lpassword">Password</label>
                    <input type="password"
                           class="form-control my-input"
                           id="lpassword"
                           placeholder="Enter your password"
                           name="lpassword"
                           required="required"
                           style="width:30%"
                           ng-model="login_user.password">
        
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="remember-me" ng-model="login_user.remember_me">
                    <label class="form-check-label" for="remember-me">Remember me, <em>validity will last for one week.</em></label>
                </div>
                <button type="submit" class="mt-15 btn btn-primary btn-block" ng-disabled="loginForm.$invalid" style="width:10%" (click)="goBack()">Login</button>
            </form>
</body>
</html>